"*":
  "atom-clock":
    showUTC: true
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  "autocomplete-python":
    useKite: false
  "browser-plus":
    homepage: "https://www.cnblogs.com/grandyang/p/4606334.html"
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "bea83d70-87ee-4467-9776-04cc569f0047"
  "gpp-compiler":
    cppCompilerOptions: "-std=c++11"
  "platformio-ide-terminal":
    core:
      scrollback: 10000
  "spell-check":
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
